.main{
        display: inline-block;
        width: 49%;
    }
    .completed{
        display: inline-block;
        width: 49%;
        vertical-align: top
    }
    .button{
        width: 35%;
        display: inline-block;
        text-align: center;
    }
    .tasks{
        width: 60%;
        display: inline-block;
    }
    button{
        background: none;
        border: 1px solid;
        border-radius: 4px;
        margin: 2px;
        cursor: pointer;
    }
    input {
        -webkit-appearance: textfield;
        background-color: white;
        -webkit-rtl-ordering: logical;
        user-select: text;
        cursor: auto;
        padding: 1px;
        border:1px solid black;
        border-width: 2px;
        border-style: inset;
        border-color: initial;
        border-image: initial;
        padding: 10px;
        font-size: 16px;
    }
    form button{
        padding: 10px;
        font-size: 16px;
        margin: 10px;
        background-color: #0066FF;
        color: #FFF;
        border: 2px solid #0066FF;
    }
.app-title,.mdoalform{
    display: inline-block;
    width: 50%;
}